[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nextcord = "*"
nextcord-ext-menus = "*"
humanfriendly = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
